body {
  background-color: #414141;
}
.header {
  text-align: center;
  font-size: 2vmax;
  color: #ffe600;
  -webkit-text-stroke: 1px #e2ad00;
  text-shadow: 1px 1px 5px #000000;
}
div.gallery {
  width: 100%;
}
div.gallery div.el {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ffffff;
  width: 30%;
  float: left;
  background-color: #ffa600;
  box-shadow: 5px 5px 5px #ffec99;
}
div.gallery div.el img {
  width: 100%;
}
.btn-go-back {
  clear: both;
  text-align: center;
  font-size: 1.5vmax;
}
.btn-go-back a {
  text-decoration: none;
  color: #ffa600;
}
